# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/advance-group?retryWrites=true&w=majority

# App
PORT=3000
NODE_ENV=development

# CORS
FRONTEND_URL=http://localhost:4200

# JWT
JWT_SECRET=change_me_in_production
JWT_EXPIRES=1d

# Seed admin
ADMIN_EMAIL=admin@advancegroup.pe
ADMIN_PASSWORD=Admin123456!

# DeepSeek AI
DEEPSEEK_API_KEY=your_deepseek_api_key_here
